
HeaderWidget {
    background: #29b6f6;
    max-height: 50px;
    border: 0;
    padding: 0 15px;
    font: 12pt Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: 0;
}

HeaderWidget::item {
    color: white;
}

HeaderWidget::item:hover {
    color: lightgrey;
}

HeaderWidget::item:selected {
    border-bottom: 5px solid white;
    padding-bottom: -5px;
}
