QGroupBox {
    border: 1px solid white;
    margin-top: 30px;
    font: 10pt Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: white;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 5px 25px;
    background-color: #29b6f6;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}